<table class="table table-striped">
    <!--User information-->
    <thead>
        <tr>
            <th>User Name </th>
            <th>Rank</th>
            <th>Is Admin</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody id="view_file">
        <tr>
            <td>Phi Nguyễn</td>
            <td>Silver</td>
            <td>Yes</td>
            <td>Active</td>
        </tr>
    </tbody>

    <!--Upload information-->
    <thead>
        <tr>
            <th>File Name</th>
            <th>Category</th>
            <th>Size</th>
            <th>Date upload</th>
        </tr>
    </thead>
    <tbody id="view_file">
        <tr>
            <td>Index.html</td>
            <td>Code</td>
            <td>10mb</td>
            <td>27/04/2018</td>
        </tr>
        <tr>
            <td>style.css</td>
            <td>Code</td>
            <td>10mb</td>
            <td>27/04/2018</td>
        </tr>
        <tr>
            <td>style.js</td>
            <td>Code</td>
            <td>10mb</td>
            <td>27/04/2018</td>
        </tr>
    </tbody>
</table>