<table class="table table-striped">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Category</th>
            <th>Size</th>
            <th>Date upload</th>
            <th>Upload by </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="view_file">
        <tr>
            <td>index.html</td>
            <td>Code</td>
            <td>10mb</td>
            <td>27/04/2018</td>
            <td>Phi đẹp trai</td>
            <td>
                <button type="button" class="btn btn-success">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>style.css</td>
            <td>Code</td>
            <td>10mb</td>
            <td>27/04/2018</td>
            <td>Phi đẹp trai</td>
            <td>
                <button type="button" class="btn btn-success">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>style.js</td>
            <td>Code</td>
            <td>10mb</td>
            <td>27/04/2018</td>
            <td>Phi đẹp trai</td>
            <td>
                <button type="button" class="btn btn-success">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>