<table class="table table-striped">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Category</th>
            <th>Size</th>
            <th>Date upload</th>
            <th>Upload by </th>
            <th>Downloads</th>
            <th>Comment</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="view_file">
        <tr ng-repeat="x in select_search.items | filter:input_search">
            <td>
                <a href="#!file_information">{{x.filename}}</a>
            </td>
            <td>{{x.category}}</td>
            <td>{{x.size}}</td>
            <td>{{x.dateupload}}</td>
            <td>{{x.uploadby}}</td>
            <td>{{x.download}}</td>
            <td>{{x.comment}}</td>
            <td>
                <button type="button" class="btn btn-success" onclick="document.getElementById('update_file').style.display='block'">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
                <!--UPDATE FILE-->
                <div id="update_file" class="modal">

                    <form class="modal-content animate">

                        <div class="container_form">

                            <div class="imgcontainer">
                                <span onclick="document.getElementById('update_file').style.display='none'" class="close" title="Close">&times;</span>
                            </div>
                            <div class="til">
                                <b>File name</b>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" name="file_name" value="index.html">
                            </div>
                            <div class="til">
                                <b>Comment</b>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" name="file_comment" value="This is template for DXCshare">
                            </div>
                            <br>
                            <button class="btn btn-lg btn-primary btn-user" type="submit">Update</button>
                        </div>
                    </form>
                </div>
                <!--END UPDATE FILE-->
            </td>
            <td>
                <button type="button" class="btn btn-success">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>