<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Category</th>
            <th>Size</th>
            <th>Date upload</th>
            <th>Upload by </th>
            <th>Downloads</th>
            <th colspan="3">Comment</th>
        </tr>
    </thead>
    <tbody id="view_file">
        <tr>
            <td>index.html</td>
            <td>Code</td>
            <td>10mb</td>
            <td>27/04/2018</td>
            <td>Phi đẹp trai</td>
            <td>69</td>
            <td colspan="3">This is template for DXCshare</td>
        </tr>
    </tbody>
</table>