<table id="myTable" class="table table-striped">
    <thead>
        <tr>
                <th onclick="sortTable(0)">STT
                        <img class="sort" src="assets/img/sort_table.jpg" />
                    </th>
            <th onclick="sortTable(1)">File Name
                <img class="sort" src="assets/img/sort_table.jpg" />
            </th>
            <th onclick="sortTable(2)">Category
                <img class="sort" src="assets/img/sort_table.jpg" />
            </th>
            <th onclick="sortTable(3)">Size
                <img class="sort" src="assets/img/sort_table.jpg" />
            </th>
            <th onclick="sortTable(4)">Date upload
                <img class="sort" src="assets/img/sort_table.jpg" />
            </th>
            <th onclick="sortTable(5)">Upload by
                <img class="sort" src="assets/img/sort_table.jpg" />
            </th>
            <th onclick="sortTable(6)">Downloads
                <img class="sort" src="assets/img/sort_table.jpg" />
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="view_file">
        <tr ng-repeat="x in select_search.items | filter:input_search">
            <div ng-repeat="row in select_search.items">
                <td>{{$index + 1}}</td>
                <td>
                    <a href="#!file_information">{{x.filename}}</a>
                </td>
                <td>{{x.category}}</td>
                <td>{{x.size}}</td>
                <td>{{x.dateupload}}</td>
                <td>{{x.uploadby}}</td>
                <td align="center">{{x.download}}</td>
                <td>
                    <button type="button" class="btn btn-success">
                        <i class="glyphicon glyphicon-arrow-down"></i>
                    </button>
                </td>
            </div>
        </tr>
    </tbody>
</table>