<div class="form-upload">
    <div class="input-group input-file" name="Fichier1">
        <span class="input-group-btn">
            <button class="btn btn-default btn-choose" type="button">Choose</button>
        </span>
        <input type="text" class="form-control " placeholder="Choose a file..." />
        <span class="input-group-btn">
            <button class="btn btn-warning btn-reset" type="button">Reset</button>
        </span>
    </div>
    <br>
    <div class="input-comment">
        <input class="form-control" type="text" placeholder="comment">
    </div>
    <div class="input-file">
        <label for="sel1">Category:</label>
        <select class="form-control" id="sel1">
            <option>Thời Sự</option>
            <option>Thể Thao</option>
            <option>Code</option>
        </select>
    </div>
    <div class="input-file">
        <span class="input-group-upload">
            <button class="btn btn-default" type="button">Upload</button>
        </span>
    </div>
</div>